.user_singup_form label input{
  border-radius: 10px;
  height: 40px;
  /* border-style: none; */
  outline: none;
  padding: 20px;
  -webkit-box-shadow: 5px 5px 12px -9px rgba(66, 68, 90, 1);
-moz-box-shadow: 5px 5px 12px -9px rgba(66, 68, 90, 1);
box-shadow: 5px 5px 12px -9px rgba(66, 68, 90, 1);
}

.user_singup_form label button{
  -webkit-box-shadow: inset 11px 9px 12px -9px rgba(66, 68, 90, 1);
  -moz-box-shadow: inset 11px 9px 12px -9px rgba(66, 68, 90, 1);
  box-shadow: inset 11px 9px 12px -9px rgba(66, 68, 90, 1);
}

li{
  display: flex;
  justify-content: center;
  align-items: center;
}
li a{
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  padding-inline: 5px;
  border-radius: 2px;
}

.navactive{
  background-color: rgb(77, 74, 79);
}